$c-background: #141519;
$c-editor: #181a1f;
$c-foreground: #b6bbbb;
$c-tab-title-active: #6d808c;
$c-tab-title-inactive: #394b52;
$c-text-area: #1d2024;
$c-text-area-border: #262a2e;
$c-highlight: #2b98db;
