$c-background: var(--background);
$c-editor: var(--editor);
$c-foreground: var(--foreground);
$c-tab-title-active: var(--textActive);
$c-tab-title-inactive: var(--textInactive);
$c-text-area: var(--textArea);
$c-text-area-border: var(--textAreaBorder);
$c-highlight: var(--highlight);
